{% extends "layout.html" %}
{% block header %}
<link href="{{ url_for('static', filename='js/sbplugins/bower_components/metisMenu/dist/metisMenu.min.css') }}" rel="stylesheet">
    <!-- Custom CSS -->
	<link href="{{ url_for('static', filename='js/sbplugins/dist/css/sb-admin-2.css') }}" rel="stylesheet">
    <!-- Timeline CSS -->
    <link href="{{ url_for('static', filename='js/sbplugins/dist/css/timeline.css') }}" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="{{ url_for('static', filename='js/sbplugins/bower_components/morrisjs/morris.css') }}" rel="stylesheet">
	<style type="text/css">
		.activeClass{
			display:block;
		}
		#log_master .inactiveClass{
			display:none;
		}
	</style>
{% endblock %}
{% block content %}
    <div id="wrapper" class="">

        <div id="page-wrapper" style="margin:0 0px;">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Dashboard</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-green">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-server fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">{{ serversNum }}</div>
                                    <div>Servers</div>
                                </div>
                            </div>
                        </div>
                        <a href="#">
                            <div class="panel-footer">
                                <span class="pull-left"><a href="/servers">View Details</a></span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-red">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-desktop fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">6</div>
                                    <div >Instances</div>
                                </div>
                            </div>
                        </div>
                        <a href="#">
                            <div class="panel-footer">
                                <span class="pull-left"><a href="/instances">View Details</a></span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
				<div class="col-lg-3 col-md-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-users fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">{{ usersNum}}</div>
                                    <div>Users</div>
                                </div>
                            </div>
                        </div>
                        <a href="#">
                            <div class="panel-footer">
                                <span class="pull-left"><a href="#">View Details</a></span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-yellow">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-list-alt fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">{{ logsNum }}</div>
                                    <div>Logs</div>
                                </div>
                            </div>
                        </div>
                        <a href="#">
                            <div class="panel-footer">
                                <span class="pull-left">View Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
				
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-6">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <i class="fa fa-bar-chart-o fa-fw"></i> <font size="3"> <strong> CPU Usage </strong> </font>
                            
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
							<div class="flot-chart">
                                <div class="flot-chart-content" id="flot-line-chart-moving-cpu"></div>
                            </div>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                   
                </div>
                <!-- /.col-lg-8 -->
				<!-- /.col-lg-4 -->
                <div class="col-lg-6">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <i class="fa fa-bar-chart-o fa-fw"></i> <font size="3"> <strong> Memery usage </strong></font>
                            
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
							<div class="flot-chart">
                                <div class="flot-chart-content" id="flot-line-chart-moving-mem"></div>
                            </div>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                   
                </div>
				<!-- /.col-lg-4 -->
                <div class="col-lg-6">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <i class="fa fa-bar-chart-o fa-fw"></i> <font size="3"> <strong>Disk usage </strong></font>
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
							<div class="flot-chart">
                                <div class="flot-chart-content" id="flot-line-chart-moving-disk"></div>
                            </div>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                   
                </div>
                <div class="col-lg-6">
                    <div class="panel panel-yellow">
                        <div class="panel-heading">
                            <i class="fa fa-list-alt fa-fw"></i> Logs Panel
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="list-group" id="log_master">
								{% for log in logs %}
								{%  if loop.index < 10 %}
								<a href="javascript:void(0)" class="list-group-item">
                                    <i class="fa fa-twitter fa-fw"></i>{{ log[1] }}
                                    <span class="pull-right text-muted small"><em>{{ log[0] }}</em>
                                    </span>
                                </a>
								<div class="panel panel-default activeClass">
								  <div class="panel-body">
								  
									{{ log[2] }}
								  </div>
								</div>
								{% endif %}
								
								
								{% endfor %}
                                
                                
                            </div>
                            <!-- /.list-group -->
                            <a href="/logs" class="btn btn-default btn-block" id="show_all_log_btn">View All Logs</a>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->	
                </div>
                
            </div>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->
	<!-- Metis Menu Plugin JavaScript -->
    <script src="{{ url_for('static',filename='js/sbplugins/bower_components/metisMenu/dist/metisMenu.min.js')}}"></script>
	<!-- Morris Charts JavaScript -->
    <script src="{{url_for('static',filename='js/sbplugins/bower_components/raphael/raphael-min.js')}}"></script>
	<!--
    <script src="{{url_for('static',filename='js/sbplugins/bower_components/morrisjs/morris.min.js')}}"></script>
    <script src="{{url_for('static',filename='js/sbplugins/bower_components/chart/js/morris-data.js')}}"></script>
	-->
	
	<!-- Flot Charts JavaScript -->
    <script src="{{url_for('static',filename='js/sbplugins/bower_components/flot/excanvas.min.js')}}"></script>
    <script src="{{url_for('static',filename='js/sbplugins/bower_components/flot/jquery.flot.js')}}"></script>
    <script src="{{url_for('static',filename='js/sbplugins/bower_components/flot/jquery.flot.pie.js')}}"></script>
    <script src="{{url_for('static',filename='js/sbplugins/bower_components/flot/jquery.flot.resize.js')}}"></script>
    <script src="{{url_for('static',filename='js/sbplugins/bower_components/flot/jquery.flot.time.js')}}"></script>
    <script src="{{url_for('static',filename='js/sbplugins/bower_components/flot.tooltip/js/jquery.flot.tooltip.min.js')}}"></script>
    <script src="{{url_for('static',filename='js/sbplugins/js/flot-data.js')}}"></script>
	
	
	<!-- Custom Theme JavaScript-->
    <script src="{{url_for('static',filename='js/sbplugins/dist/js/sb-admin-2.js')}}"></script>
	
	<script>
	$(function(){
		$('#log_master').click(function(e) {
			//console.log($(e.target).next());
			//$(e.target).next().addClass('activeClass').siblings('.activeClass').removeClass('activeClass');
		});
		$('#show_all_log_btn').click(function(){
			$('show_all_log_div').show();
		});
	});
	</script>
{% endblock %}