{% extends "layout.html" %}
{% block content %}
  {% if session.logged_in %}
  {% include 'messages_block.html' %}
  {% include 'errors_block.html' %}
  {% include 'create_inst_block.html' %}

  {% for key, value in instances.iteritems() %}
  <h2>Node: {{ key }}</h2>

  <table class="table table-hover table-striped sortable-theme-bootstrap" data-sortable>
    <thead class="thead-inverse">
    <tr>
        <th>Name</th>
        <th>Status</th>
        <th>IP</th>
        <th>VCPU</th>
        <th>Memory</th>
        <th>Brand</th>
        <th data-sortable="false" style="width:205px;">Actions</th>
    </tr>
    </thead>
    <tbody class="searchable">
      {% for entry in value %}
      <tr>
        <td>{{ entry.name }}</td>
        {% if entry.status == "incomplete" or entry.status == "configured" %}
        <td><span class="label label-warning">{{ entry.status }}</span></td>
        {% endif %}

        {% if entry.status == "running" %}
        <td><span class="label label-success">{{ entry.status }}</span></td>
        {% endif %}

        {% if entry.status == "installed" %}
        <td><span class="label label-info">{{ entry.status }}</span></td>
        {% endif %}

        <td>10.182.70.68</td>
        <td>1</td>
        <td>200M</td>
        <td>{{ entry.brand }}</td>
            <td><form action="" method="post" role="form">
                    <input type="hidden" name="name" value="{{ entry.name }}"/>
                    <input type="hidden" name="compute_id" value="{{ key }}"/>
                    {% if entry.status == "installed" %}
                        <button class="btn btn-sm btn-default" type="submit" name="poweron" title="Power On">
                            <span class="glyphicon glyphicon-play"></span>
                        </button>
                        <button class="btn btn-sm btn-default disabled" title="Suspend">
                            <span class="glyphicon glyphicon-pause"></span>
                        </button>
                        <button class="btn btn-sm btn-default disabled" title="Power Off">
                            <span class="glyphicon glyphicon-off"></span>
                        </button>
                        <button class="btn btn-sm btn-default disabled" title="Power Cycle">
                            <span class="glyphicon glyphicon-refresh"></span>
                        </button>
                        <button class="btn btn-sm btn-default" type="submit" name="configure" title="Configure" onclick="location.href = '/servers/xxxxx/create?name=xxxx';">
                            <span class="glyphicon glyphicon-eye-open"></span>
                        </button>
                    {% endif %}
                     {% if entry.status == "incomplete" or entry.status == "configured" %}
                        <button class="btn btn-sm btn-default disabled" type="submit" name="resume" title="Resume">
                            <span class="glyphicon glyphicon-play"></span>
                        </button>
                        <button class="btn btn-sm btn-default disabled" title="Suspend">
                            <span class="glyphicon glyphicon-pause"></span>
                        </button>
                        <button class="btn btn-sm btn-default disabled" title="Power Off">
                            <span class="glyphicon glyphicon-off"></span>
                        </button>
                        <button class="btn btn-sm btn-default disabled" title="Power Cycle">
                            <span class="glyphicon glyphicon-refresh"></span>
                        </button>
                        <button class="btn btn-sm btn-default" type="submit" name="configure" title="Configure">
                            <span class="glyphicon glyphicon-eye-open"></span>
                        </button>
                    {% endif %}
                     {% if entry.status == "running" or entry.status == "ready" %}
                        <button class="btn btn-sm btn-default disabled" title="Power On">
                            <span class="glyphicon glyphicon-play"></span>
                        </button>
                        <button class="btn btn-sm btn-default" type="submit" name="suspend" title="Suspend">
                            <span class="glyphicon glyphicon-pause"></span>
                        </button>
                        <button class="btn btn-sm btn-default" type="submit" name="poweroff" title="Power Off" onclick="return confirm('Are you sure?')">
                            <span class="glyphicon glyphicon-off"></span>
                        </button>
                        <button class="btn btn-sm btn-default" type="submit" name="powercycle" title="Power Cycle" onclick="return confirm('Are you sure?')">
                            <span class="glyphicon glyphicon-refresh"></span>
                        </button>
                        <button class="btn btn-sm btn-default" type="submit" name="configure" title="Configure">
                            <span class="glyphicon glyphicon-eye-open"></span>
                        </button>
                    {% endif %}
                </form>
            </td>
      </tr>
      {% else %}
      <li><em>Unbelievable.  No entries here so far</em>
      {% endfor %}
      </tbody>
  </table>
  {% endfor %}
  {% endif %}
  <script>
      function create_instance() {
          var compute = $("#server_select").val();
          var instance_name = $("#instance_name").val();
          window.location = "/servers/" + compute + "/create?name=" + instance_name;
      }
  </script>
{% endblock %}
