{% extends "layout.html" %}
{% block content %}
  {% if session.logged_in %}
  <table class="table table-striped">
    <thead class="thead-inverse">
      <tr>
        <th>#</th>
        <th>Id</th>
        <th>Domain</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      {% for entry in servers %}
      <tr>
        <th scope="row">1</th>
        <td>{{ entry.id }}</td>
        <td>{{ entry.domain }}</td>
        {% if entry.status == 1 %}
        <td><span class="label label-success">Online</span></td>
        {% else %}
        <td><span class="label label-danger">Offline</span></td>
        {% endif %}
      </tr>
      {% else %}
      <li><em>Unbelievable.  No entries here so far</em>
      {% endfor %}
      </tbody>
  </table>
  {% endif %}
{% endblock %}
